@model IEnumerable<MidProject.DTOs.RecipeDTO>

@{
    ViewBag.Title = "RecipeDetails";
}

<h2>RecipeDetails</h2>

<div class="row">
    <form method="post" action="/Recipe/Search">
        <div class="col-md-4">
            <input type="text" class="form-control" name="Search" placeholder="Provide the Recipe Title or Ingredients" />
        </div>
        <div class="col-md-4">
            <input type="submit" value="Search" class="btn btn-success" /> <br /><br />
            <span class="text-primary"> @Html.ActionLink("Back to Details", "RecipeDetails", "Recipe") </span>

        </div>
    </form>
</div>


<p>
    @Html.ActionLink("Create New", "AddRecipe","Recipe")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Rid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecipeTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecipeIngridient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecipeInstructions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecipePostTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Uid)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Rid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecipeTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecipeIngridient)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecipeInstructions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecipePostTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Uid)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditRecipe", new { id = item.Rid }) |
            @Html.ActionLink("Delete", "DeleteRecipe", new { id = item.Rid })|
            @Html.ActionLink("Rate Recipe", "RecipeRating", new { id=item.Rid}) 
        </td>
    </tr>
}

<div>
    @Html.ActionLink("Back to Dashboard", "UserDashboard", "User")
</div>

</table>
